.background{
  background: whitesmoke;
  height: 100%;
  
  z-index: 1;
}

.exitButton {
  position: absoulte;
  top: 0;
  left: 0;
  color: white;
  font-size: 1.5rem;
  width: 10px;
  margin: 2px;
}

.filmBackground{
  display: flex;
  width: 100%;
  height: 10%;
  overflow: hidden;
  justify-content: center;
}

.Filmstrip {
  
  height: 100%;
  width: 100%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.Box {
  background: whitesmoke;
  height: 100%;
  width: 10%;
  margin: 10px;
  padding: 5px;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  
}

.Box img {
  max-width: 100%;
  max-height: 100%;
}

.CarouselBackgroundDiv {
  height: 35rem;
  width: 45%;
  background: black;
  margin: auto;

  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30%;
  top: 30%;
  overflow: hidden;
  -webkit-box-shadow: 15px -17px 11px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 15px -17px 11px -14px rgba(0,0,0,0.75);
box-shadow: 15px -17px 11px -14px rgba(0,0,0,0.75);
}

.Buttonleft {
  background: black;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: 35%;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 3em;
}

.Buttonright {
  background: black;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 35%;
  right: 0;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 3em;
  
  
  
 
  
}

.LargeImage {
  height:100%;
  max-height: 72%;
  width: 70%;
  background: black;
  margin: 0 auto;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 5;
  
  
}

.photo {
  max-width: 100%;
  max-height: 90%;
  margin: 1%;
  overflow: hidden;
}

.Search {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Searchbox {
  margin-top: 20%;
  margin-right: 20px;
  font-size: 1.5rem;
}

