/*.Background {
  width: 100%;
  height: 500px;
  background: lightskyblue;
}
*/
.Filmstrip {
  background: whitesmoke;
  height: auto;
  width: 100%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
 
  
}

.Box {
  background: black;
  height: 240px;
  width: 220px;
  margin: 40px;
  justify-content: space-around;
  
  


}


.Box img {
  max-width: 100%;
  max-height:100%;
}

.CarouselBackgroundDiv {
  height: 40rem;
  width: 50%;
  background: gray;
  margin: auto;
  display: flex;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Button {
  background: yellow;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  

  height: 80px;
  width: 80px;
}

.Button left {
}

.Button right {
  float: right;
  position: absolute;


}

.LargeImage {
  height: 500px;
  width: 800px;
  background: black;
  position: relative;
  margin: 0 auto;

}

.Search {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.Searchbox {
 margin-top: 20%;
}